/*.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}*/


.loader {
  background-image: url(https://platform-user-uploads.s3.amazonaws.com/blog/category/logo/291/react.png);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 250px;
	height:250px;
	margin: -125px 0 0 -125px;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	border: 8px solid #ccc;
	border-color: #000 #ccc #000 #ccc;
	border-radius: 50%;
	border: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
